# Database
DATABASE_URL="postgresql://lock_genius_user:lock_genius_password@localhost:5432/lock_genius"

# Better Auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=

# GitHub OAuth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
